<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>

<h1>Items table</h1>

<table>
    <tr>
        <td>name</td>
        <td>price</td>
        <td>category</td>
        <td>shape</td>
        <td>image</td>
    </tr>
    <tr th:each="item:${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.category}"></td>
        <td th:text="${item.shape}"></td>
        <td><img alt="" th:src="*{'data:image/jpg;base64,'+ item.image}" style="width: 200px;"></td>
        <td>
            <a th:href="'delete-item/' + ${item.id}">Delete</a>
            <a th:href="'update-item/' + ${item.id}">Update</a>
            <a th:href="'show-item/' + ${item.id}">Show</a>
        </td>


    </tr>
</table>

<a href="/">Back to index</a>

</body>
</html>